/* Imports de fonts */

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CLASSES GENÉRICAS */

.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

/* justify content + align items */

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    color: white;
}

/* MOBILE FIRST */

/* HEADER */
header {
    background-color: #1b1426;
    height: 60px;
}

header .header-top {
    display: none;
}

header .header-bottom {
    height: 60px;
}

header .burguer {
    /* border: 1px solid white; */
    position: sticky;
}

header .logo {
    /* border: 1px solid white; */
    width: 86px;
    display: flex;
    position: sticky;
    margin: 0 auto;
}

header .tres {
    /* border: 1px solid white; */
    position: sticky;
}

header nav .menu-flex {
    /* border: 1px solid yellow; */
    position: fixed;
    top: 60px;
    left: 0;
    width: 70vw;
    height: 90vh;
    background-color: grey;
    background-image: linear-gradient(grey, rgb(189, 188, 188));
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

header nav .menu-flex .aba {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

header nav .menu-flex .aba a {
    border-bottom: 2px solid orange;
    width: 70vw;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

header nav .menu-flex .phone {
    /* border: 1px solid blue; */
    border-bottom: 2px solid orange;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
    height: 245px;
    font-size: 14px;
}

header nav .menu-flex .last-box {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 745px;
}

header nav .menu-flex .mail {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin-top: 30px;
    font-size: 14px;
}

header nav .menu-flex .midias-sociais {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin-bottom: 15px;
}

header .header-bottom .user-nav {
    /* border: 1px solid white; */
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 60px;
    right: 0px;
    background-color: grey;
    background-image: linear-gradient(grey, rgb(189, 188, 188));
    width: 66px;
    height: 170px;
}