/* Imports de fonts */

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

/* HEADER */
header {
    background-color: #1b1426;
    /* border: solid 2px red; */
}

header .layout-grid {
    display: flex;
    flex-direction: column;
    /* border: solid 2px green; */
    padding: 5px 100px;
}

header .header-top {
    display: flex;
    justify-content: space-between;
    /* border: solid 3px blue; */
}

header .header-top .contatos {
    /* border: solid 3px white; */
    display: flex;
    width: 400px;
    justify-content: space-between;
}

header .header-top .contatos .phone {
    /* border: solid 3px yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;    
}

header .header-top .contatos .phone .numero {
    /* border: solid 3px red; */
    display: flex; 
}

header .header-top .contatos .mail {
    /* border: solid 3px yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
        width: 210px;
}

header .header-top .midias-sociais {
    /* border: solid 2px red; */
    display: flex;
    align-content: space-around ;
    width: 120px;        
}

header .header-top .midias-sociais a {
    /* border: solid 2px green; */
    width: 120px;
    display: flex;
    justify-content: space-between;
}

header .header-bottom img {
    border: solid 2px red;
}

header .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid 3px blue; */
}

header .header-bottom .menu {
    /* border: solid 2px green; */
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    width: 500px;
}

header .header-bottom .menu a {
    text-decoration: none;
    color: white;
}

header .header-bottom .user-nav {
    border: solid 2px green;
    width: 200px;
    display: flex;
    align-content: space-evenly ;
}