/* import da fonte */

@font-face {
    font-family: "bebas";
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

/* reset de página */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Desktop First */
/* esconde o ícone do  menu hamburguer */
header #menu-hamburguer {
    display: none;
}
/* Sobre */

.sobre {
    padding: 60px 0;
}

.sobre .sobre-flex {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.sobre .sobre-flex .sobrebox {
    width: 500px;
    /* border: 2px solid red; */
}

.sobre .sobre-flex .sobrebox  h2 {
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: bebas; colocar! */
    font-size: 64px;
    color: #f9003d;
    /* border: 2px solid red; */
}

.sobre .sobre-flex .participantes {
    width: 640px;
    /* border: 2px solid red; */
}

.sobre .sobre-flex .participantes h3 {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    /* border: 2px solid red; */
}

.sobre .sobre-flex .participantes h4 {
    margin-bottom: 20px;
    /* font-family: bebas; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    color: #ffaf00;
    /* border: 2px solid red; */
}

.sobre .sobre-flex .participantes p {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

/* colocado o grid para alinhamento da página */

.layout-grid {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #080324;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
/* colocada a cor de fundo e altura da caixa */

header {
    background-color: #f9003d;
    height: 60px;
    width: 100%;
}

/* colocada a centralização da nav bar */

header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* colocada a borda na nav */

header nav {
    width: 600px;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
}

header nav a {
    font-family: "bebas";
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    text-transform: lowercase;
}

/* colocada a fonte dos links e espaçamento */

header nav a:hover {
    background-color: white;
    color: #f9003d;
}

/* colocada cor de fundo e altura e largura do banner */

main .banner {
    width: 100%;
    height: 740px;
    background-color: white;
    background-image: url(../assets/images/imagem-fundo-banner\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

main .banner-flex {
    display: flex;
    align-items: center;
}

main .banner #bannerinfo {
    width: 550px;
    /* border: 2px solid yellow; */
}

main .banner #bannerinfo h1 {
    color: white;
    font-family: bebas;
    font-size: 96px;
    border-bottom: 2px solid #ffaf00;
}

main .banner #bannerinfo p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f9003d;
}

/* smartphone */
@media screen and (max-width: 767px) {
    main {
        display: none;
    }
}
header nav {
    display: none;
}

/* esconde o icone de barras */
header #menu-hamburguer {
    display: block;
}
header nav {
    position: fixed;
    top: 60px;
    left: 0;
    width: 80vh;
    max-width: 360px;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9003d;
}

header nav a {
    width:  150px;
    margin-bottom: 30px;
    border-left: 2px dashed white;
    border-radius: 0;
}